/* Основные стили */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Светло-серый фон */
}

h1 {
  color: #333; /* Темно-серый цвет заголовка */
  text-align: center;
}

p {
  color: #555; /* Серый цвет текста */
  line-height: 1.6;
}

/* Стили для текстового поля */
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  height: 100px/* Фиксированная ширина */
}
